@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

:root {
    // Default-p-text
    --default-letter-spacing: 0.05em;

    // Default-color
    --black: #000;
    --primary: #f46108;
    --color-darkmode: #fff;

    // DefaultLayout
    --default-layout-header-height: 90px;
    --default-layout-width: 1150px;
    --default-layout-header-contact: 40px;

    // Default-button:
    --default-button-height: 46px;
    --default-border-darius: 8px;

    // Default-input
    --default-input-font-size: 1.6rem;

    //Block-hover
    --default-inline-block-hover: 50%;
    --default-transition-duration: 0.4s;
    --default-top-bottom-left-right: 0;
    --default-width-height: 50%;
    --default-transition: all 0.2s linear;
}

::selection {
    background: var(--primary);
    color: var(--color-darkmode);
}
::-moz-selection {
    background: var(--primary);
    color: var(--color-darkmode);
}
::-webkit-selection {
    background: var(--primary);
    color: var(--color-darkmode);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: rgba($color: #23262d, $alpha: 1);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

button,
a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
}
