.wrapper {
    width: 100%;
    height: var(--default-layout-header-contact);
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
}

// Content in bar
.hotline {
    margin: 11px 0;
    display: flex;
}

.hotline .numberphone {
    padding: 0 5px;
    color: white;
    font-size: 12px;
}

.hotline .gmail {
    padding: 0 5px;
    color: white;
    font-size: 12px;
}

// Icon
.icon {
    color: white;
}

// Responsive
@media only screen and (max-width: 46.1875rem) {
    .wrapper {
        display: none;
    }
}
