.inner {
    --margin-top: 100px;
}

// content 1
.container1 {
    margin-top: var(--margin-top);
    position: relative;
    display: block;
}

.introduction {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.introduction .name-company {
    color: var(--primary);
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
}

.pre-intro {
    width: 570px;
    height: 450px;
}

.pre-intro img {
    width: 100%;
    height: 100%;
}

.pre-intro .describe {
    color: var(--color-darkmode);
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-top: 20px;
}

.more {
    margin-top: 20px;
    width: 150px;
    height: 47px;
    background-color: transparent;
    color: var(--color-darkmode);
    font-size: 17px;
    font-weight: bold;
    border: 1px solid var(--primary);
    border-radius: 30px;
}

.more .more-btn {
    line-height: 16px;
    text-align: center;
    padding: 15px 15px;
    display: block;
    text-transform: uppercase;
    color: var(--primary);
    position: relative;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 30px;
}

.more .more-btn:hover {
    color: var(--color-darkmode);
    box-shadow: inset 200px 0 0 0 var(--primary);
    border-radius: var(--border-darius);
}

// content 2
.container2 {
    margin-top: var(--margin-top);
    position: relative;
    display: block;
    min-height: 930px;
}

.container2 .top-box {
    width: 100%;
    height: 300px;
}

.container2 .background2 {
    height: 623px;
    width: 968px;
    object-position: 62.52% 50%;
    margin: -707px auto 0;
}

.container2 .middle-img {
    object-fit: cover;
    display: block;
    // vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.container2 .center-box {
    min-height: 370px;
    width: 760px;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 15%);
    margin: -133px auto 60px;
    background-color: var(--color-darkmode);
    position: relative;
    padding: 40px;
}

.center-box .text-box {
    padding: 70px 50px;
    text-align: center;
    border: 1px solid var(--primary);
}

.text-box h3 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 auto;
    color: var(--primary);
    font-weight: 700;
}

.text-box h2 {
    font-size: 5rem;
    text-transform: none;
    font-weight: 700;
    line-height: 1;
    margin: 30px 0 0;
}

.container2 .bot-box {
    width: 1150px;
    height: 300px;
    background-color: var(--primary);
    margin-top: 80px;
    margin: 158px auto 0;
}

// content 3
.container3 {
    position: relative;
    margin-top: var(--margin-top);
}

.title-spl {
    text-align: center;
    color: var(--color-darkmode);
    font-size: 3.75rem;
}

.title-spl span {
    color: var(--primary);
}

.special {
    justify-content: center;
    margin-top: 100px;
    display: flex;
}

// == left
.left-icon .inner-content {
    width: 375px;
    height: 200px;
}

.inner-content h2 {
    color: var(--primary);
    text-transform: uppercase;
    position: relative;
    padding-left: 20px;
}

.left-icon .inner-content h2::before {
    content: '';
    width: 5px;
    height: 100%;
    background-color: var(--primary);
    top: 0;
    left: 0;
    position: absolute;
}

.inner-content p {
    color: var(--color-darkmode);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-top: 20px;
}

.icon-2 {
    transform: translateY(25%);
}
// == center
.center-icon {
    width: 400px;
    height: 400px;
    background-color: transparent;
}

.center-icon .center-circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    position: relative;
}

.center-icon .inside-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #23262d27;
}

.inside-circle .inside {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: transform 0.2s;
    opacity: 0.8;
    cursor: pointer;
}

.center-circle .inside:hover {
    transform: scale(1.2);
    opacity: 1;
}

// == right

.right-icon .inner-content {
    width: 375px;
    height: 200px;
    text-align: right;
}

.icon-4 {
    transform: translateY(25%);
}

.right-icon .inner-content h2 {
    color: var(--primary);
    text-transform: uppercase;
    position: relative;
    padding-right: 20px;
}

.right-icon .inner-content h2::before {
    content: '';
    width: 5px;
    height: 100%;
    background-color: var(--primary);
    top: 0;
    right: 0;
    position: absolute;
}

// content 4
.container4 {
    height: 300px;
    margin-top: var(--margin-top);
    position: relative;
    display: flex;
}
.container4 .background1 {
    width: 100%;
    height: auto;
    opacity: 0.6;
}

.container4 .table {
    position: absolute;
    height: auto;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 200px;
    display: flex;
}

.table .table-content {
    position: absolute;
    width: 1150px;
    height: 200px;
    justify-content: space-between;
    display: flex;
}

.table-content .total {
    width: 150px;
    height: 100%;
    text-align: center;
    color: var(--color-darkmode);
}

.total .number {
    display: flex;
}

.total h1 {
    font-weight: bold;
    font-size: 80px;
    margin-top: 40px;
}

.total p {
    font-style: italic;
    font-size: 30px;
}

// content 5
.container5 {
    margin-top: var(--margin-top);
    position: relative;
    display: block;
}

.container5 .row {
    width: 1150px;
    min-height: 600px;
    position: relative;
    margin: 0 auto;
    display: flex;
}

.container5 .background3 {
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.582);
}

.container5 .services {
    width: 575px;
    height: 600px;
}

.services .top-service,
.bot-service {
    display: flex;
}

.serv {
    height: 300px;
    padding: 30px 30px;
    color: var(--color-darkmode);
    font-style: italic;
    transition: transform 0.2s;
    cursor: pointer;
}

.serv:hover {
    transform: scale(1.1);
    border-radius: 5px;
}

.serv .icon {
    font-size: 50px;
    color: var(--primary);
}

.serv h2 {
    margin-bottom: 30px;
}

.text {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.05em;
}

// content 6
.container6 {
    margin-top: var(--margin-top);
    position: relative;
    display: block;
    background-color: var(--secondary-color);
}

.container6 .link {
    min-height: 930px;
    position: relative;
    margin: 0 auto;
    width: 1150px;
    display: flex;
}

.link .left-box,
.right-box {
    width: 575px;
    height: 700px;
    margin: 115px 0;
}

.left-box .background4 {
    margin: 0 37.5px;
}

.content-box {
    margin: 0 37.5px;
    padding: 50px 30px 20px 0;
}

.content-box h3 {
    font-size: 40px;
    font-weight: 900;
    color: var(--primary);
    padding-right: 30px;
}

.content-box p {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    color: var(--color-darkmode);
    padding-right: 60px;
}

.right-box .background5 {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-position: 50% 50%;
    margin-top: 50px;
}

.right-box .rectangle {
    position: absolute;
    width: 340px;
    height: 400px;
    background-image: radial-gradient(var(--color-darkmode) 15%, transparent 16%);
    background-size: 20px 20px;
    margin-left: 225px;
}

.button-box {
    margin-top: 110px;
}

.button-box p {
    font-size: 15px;
    font-weight: 500;
    color: var(--color-darkmode);
    padding-right: 120px;
}

.contact {
    margin-top: 50px;
    width: 250px;
    height: 47px;
    background-color: transparent;
    color: var(--color-darkmode);
    font-size: 17px;
    font-weight: bold;
    border: 1px solid var(--primary);
    border-radius: 30px;
}

.contact .contact-btn {
    line-height: 16px;
    text-align: center;
    padding: 15px 15px;
    display: block;
    text-transform: uppercase;
    color: var(--primary);
    position: relative;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 30px;
}

.contact .contact-btn:hover {
    color: var(--color-darkmode);
    box-shadow: inset 250px 0 0 0 var(--primary);
    border-radius: var(--border-darius);
}

// content 7
.container7 {
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-top);
}

.container7 .library {
    width: 1000px;
    margin: 0 auto;
}

.top-library,
.bot-library {
    justify-content: space-between;
    display: flex;
    height: 300px;
}

.top-library,
.bot-library:hover {
    background-color: #23262d;
}

.bot-library {
    margin-top: 50px;
}

.library .lib1,
.lib2,
.lib3,
.lib4,
.lib5,
.lib6 {
    width: 300px;
    height: 300px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.animation figure {
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logo {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 32%;
    left: 33%;
    transform: translate(-32%, -33%);
    -ms-transform: translate(-32%, -33%);
}

.animation {
    position: relative;
}

.animation:hover img {
    opacity: 0.4;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;
}

.animation:hover .logo {
    opacity: 1;
}

// Resonsive

@media only screen and (max-width: 64.0625em) {
    // content 1

    // content 2
    .container2 {
        min-height: 730px;
        .top-box {
            height: 200px;
        }

        .center-box {
            margin: -120px auto 40px;
            min-height: 270px;
            width: 660px;
            padding: 30px;
        }

        .bot-box {
            width: 920px;
            height: 200px;
            margin: 130px auto 0;
        }

        .background2 {
            width: 800px;
            height: 500px;
            object-position: 62.52% 50%;
            margin: -600px auto 0;
        }
    }

    // content 3 {
    .special {
        .inner-content {
            width: 340px;
            height: 150px;
        }
        .center-icon {
            width: 320px;
            height: 320px;

            .center-circle {
                width: 320px;
                height: 320px;
            }
        }
    }

    // content 4
    .table {
        .table-content {
            width: 900px;

            .total {
                width: 130px;

                h1 {
                    font-size: 60px;
                }

                p {
                    font-size: 20px;
                }
            }
        }
    }

    // content 5 {
    .container5 {
        .row {
            width: 900px;
            min-height: 475px;

            .services {
                width: 450px;
                height: 475px;

                .background3 {
                    width: 100%;
                    height: 100%;
                }

                .top-service,
                .bot-service {
                    .serv {
                        height: 237.5px;

                        .icon {
                            font-size: 30px;
                        }

                        h2 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    // content 6 {
    .container6 {
        .link {
            width: 900px;
            min-height: 800px;

            .left-box {
                width: 450px;
                margin: 90px 0;

                .background4 {
                    width: 400px;
                    height: 400px;
                    margin: 0 25px;
                }

                .content-box {
                    margin: 0 auto;
                    padding: 40px 0 0 0;

                    h3 {
                        font-size: 35px;
                        padding: 0 30px;
                    }

                    p {
                        padding: 0 30px;
                    }
                }
            }
            .right-box {
                width: 450px;
                margin: 90px 0;

                .rectangle {
                    height: 350px;
                    margin-left: 110px;
                }

                .background5 {
                    width: 350px;
                    height: 350px;
                }

                .button-box {
                    margin-top: 50px;

                    p {
                        padding-right: 0;
                    }

                    .contact {
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    // content 7
}

@media only screen and (max-width: 48.0625em) {
    // content 1
    .container1 {
        .introduction {
            display: block;

            .pre-intro {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
    // content 2
    .container2 {
        min-height: 530px;
        .top-box {
            height: 200px;
        }

        .center-box {
            margin: -100px auto 0;
            height: 200px;
            width: 450px;
            padding: 30px;

            .text-box {
                padding: 25px 50px;

                h2 {
                    font-size: 35px;
                }
            }
        }

        .bot-box {
            width: 700px;
            height: 170px;
            margin: 100px auto 0;
        }

        .background2 {
            width: 600px;
            height: 400px;
            object-position: 62.52% 50%;
            margin: -450px auto 0;
        }
    }

    // content 3 {
    .special {
        display: block;
        .left-icon,
        .right-icon {
            display: flex;
            justify-content: center;
        }
        .inner-content {
            width: 330px;
            height: 200px;
            padding: 0 10px;
        }
        .center-icon {
            display: none;
        }

        .icon-2,
        .icon-4 {
            transform: translateY(0);
        }

        h2 {
            text-align: center;
        }

        h2::before {
            display: none;
        }

        .inner-content p {
            text-align: justify;
        }
    }

    // content 4
    .table {
        .table-content {
            width: 700px;

            .total {
                width: 130px;

                h1 {
                    font-size: 60px;
                }

                p {
                    font-size: 20px;
                }
            }
        }
    }

    // content 5 {
    .container5 {
        .row {
            width: 700px;
            min-height: 475px;

            .services {
                width: 380px;
                height: 425px;

                .background3 {
                    width: 100%;
                    height: 100%;
                }

                .top-service,
                .bot-service {
                    .serv {
                        height: 212.5px;
                        padding: 10px 10px;

                        .icon {
                            font-size: 30px;
                        }

                        h2 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    // content 6 {
    .container6 {
        .link {
            width: 100%;
            min-height: 800px;
            display: block;

            .left-box {
                width: 450px;
                margin: 0 auto;
                padding-top: 40px;

                .background4 {
                    width: 400px;
                    height: 400px;
                    margin: 0 25px;
                }

                .content-box {
                    margin: 0 auto;
                    padding: 40px 0 0 0;

                    h3 {
                        font-size: 35px;
                        padding: 0 30px;
                    }

                    p {
                        padding: 0 30px;
                    }
                }
            }
            .right-box {
                width: 450px;
                margin: 0 auto;

                .rectangle {
                    height: 350px;
                    margin-left: 110px;
                }

                .background5 {
                    width: 350px;
                    height: 350px;
                }

                .button-box {
                    margin-top: 50px;

                    p {
                        padding-right: 0;
                    }

                    .contact {
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    // content 7
    .container7 {
        display: none;
    }
}

@media only screen and (max-width: 37.5625em) {
    // content 1
    .container1 {
        .introduction {
            .pre-intro {
                width: 500px;
            }
        }
    }
    // content 2
    .container2 {
        min-height: 530px;

        .center-box {
            margin: 50px auto 0;
            height: 200px;
            width: 450px;
            padding: 30px;

            .text-box {
                padding: 25px 50px;

                h2 {
                    font-size: 35px;
                }
            }
        }

        .bot-box {
            width: 100%;
            height: 250px;
            margin: 100px auto 0;
        }

        .background2 {
            width: 500px;
            height: 300px;
            object-position: 62.52% 50%;
            margin: -450px auto 0;
        }
    }

    // content 3 {
    .special {
        display: block;
        .left-icon,
        .right-icon {
            display: flex;
            justify-content: center;
        }
        .inner-content {
            width: 280px;
            height: 200px;
            padding: 0 10px;
        }
        .center-icon {
            display: none;
        }

        .icon-2,
        .icon-4 {
            transform: translateY(0);
        }

        h2 {
            text-align: center;
        }

        h2::before {
            display: none;
        }

        .inner-content p {
            text-align: justify;
        }
    }

    // content 4
    .container4 {
        height: 200px;
        .table {
            .table-content {
                width: 570px;

                .total {
                    width: 100px;

                    h1 {
                        font-size: 40px;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    // content 5 {
    .container5 {
        .row {
            width: 560px;
            min-height: 475px;
            display: block;

            .services {
                width: 380px;
                height: 425px;
                margin: 0 auto;
                margin-top: 20px;

                .background3 {
                    width: 100%;
                    height: 100%;
                }

                .top-service,
                .bot-service {
                    .serv {
                        height: 212.5px;
                        padding: 10px 10px;
                        text-align: justify;

                        .icon {
                            font-size: 30px;
                        }

                        h2 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    // content 6 {
    .container6 {
        .link {
            min-height: 800px;
            display: block;

            .left-box {
                width: 450px;
                margin: 0 auto;
                padding-top: 40px;

                .background4 {
                    width: 400px;
                    height: 400px;
                    margin: 0 25px;
                }

                .content-box {
                    margin: 0 auto;
                    padding: 40px 0 0 0;

                    h3 {
                        font-size: 35px;
                        padding: 0 30px;
                    }

                    p {
                        padding: 0 30px;
                    }
                }
            }
            .right-box {
                width: 450px;
                margin: 0 auto;

                .rectangle {
                    height: 350px;
                    margin-left: 110px;
                }

                .background5 {
                    width: 350px;
                    height: 350px;
                }

                .button-box {
                    margin-top: 50px;

                    p {
                        padding-right: 0;
                    }

                    .contact {
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    // content 7
}

@media only screen and (max-width: 25.9375em) {
    // content 1
    .container1 {
        .introduction {
            .pre-intro {
                width: 100%;
                padding: 0 5px;

                img {
                    object-fit: fill;
                }
            }
        }
    }
    // content 2
    .container2 {
        min-height: 230px;

        .top-box {
            height: 100px;
            margin: 200px auto 0;
        }

        .center-box {
            margin: 70px auto 0;
            height: 200px;
            width: 300px;
            padding: 30px;

            .text-box {
                padding: 15px 50px;

                h2 {
                    font-size: 25px;
                }
            }
        }

        .bot-box {
            width: 100%;
            height: 200px;
            margin: 100px auto 0;
        }

        .background2 {
            width: 300px;
            height: 200px;
            object-position: 62.52% 50%;
            margin: -340px auto 0;
        }
    }

    // content 3 {
    .container3 {
        h2 {
            font-size: 30px;
        }

        .special {
            .inner-content {
                width: 250px;
                height: 250px;
                padding: 0 10px;
                margin: 0 auto;
            }

            .left-icon,
            .right-icon {
                display: block;
            }
            .center-icon {
                display: none;
            }
        }
    }

    // content 4
    .container4 {
        height: 900px;
        .background1 {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .table {
            top: 20%;
            .table-content {
                width: 100%;
                display: block;
                .total {
                    width: 100px;
                    margin: 0 auto;
                    height: 150px;

                    h1 {
                        font-size: 40px;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    // content 5 {
    .container5 {
        height: 1100px;
        .row {
            width: 100%;
            height: 100%;
            display: block;

            .services {
                width: 300px;
                height: 300px;
                margin: 0 auto;
                margin-top: 20px;

                .background3 {
                    width: 100%;
                    height: 100%;
                }

                .top-service,
                .bot-service {
                    display: block;
                    .serv {
                        height: 212.5px;
                        padding: 10px 10px;
                        text-align: justify;

                        .icon {
                            font-size: 30px;
                        }

                        h2 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    // content 6 {
    .container6 {
        .link {
            width: 100%;
            min-height: 800px;
            display: block;

            .left-box {
                width: 100%;
                padding-top: 40px;

                .background4 {
                    width: 100%;
                    height: 350px;
                    margin: 0 auto;
                }

                .content-box {
                    margin: 0 auto;
                    padding: 40px 0 0 0;
                    text-align: center;

                    h3 {
                        font-size: 35px;
                        padding: 0 30px;
                    }

                    p {
                        padding: 0 30px;
                    }
                }
            }
            .right-box {
                width: 100%;
                padding-top: 40px;

                .rectangle {
                    width: 100%;
                    height: 350px;
                    margin-left: 0;
                }

                .background5 {
                    width: 100%;
                    height: 100%;
                    margin-top: 20px;
                }

                .button-box {
                    margin-top: 50px;
                    text-align: center;

                    p {
                        padding-right: 0;
                    }

                    .contact {
                        margin: 30px auto 0 auto;
                        background-color: var(--primary);
                        .contact-btn {
                            color: var(--color-darkmode);
                        }
                    }
                }
            }
        }
    }

    // content 7
}
